// colors
$bodyColor = #f4f5f7
$accentColor = #11829a//#a6b3ad//#3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #2d2d2d
$arrowBgColor = #ccc

// nav
$linkNormalColor = #737373
$linkActiveColor = #fff
$linksAlign = left

// banner
$bannerHeight = 500px
$backgroundImage = '/image/banner/The Last of Us clip.jpg'

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$paddingTop = 20px
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 2.5rem
$lineNumbersWrapperBorder = 0px
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
$codeFontFamily = source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

// @extend
$shadow
  box-shadow: 0px 0px 28px 2px rgba(0,0,0,0.141)

@import '~@temp/override.styl'
